* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.night {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: #151515 !important;
  color: white !important;
}

.day {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: white !important;
  color: #151515 !important;
}

html {
  background-color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  background: white;
  overflow-x: hidden;
}

body .displaytog {
  position: fixed;
  top: 5%;
  left: 90%;
  display: block;
  width: 2.5em;
  height: 1.2em;
  border-radius: 50px;
  background-color: grey;
  z-index: 5;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  body .displaytog {
    display: none;
  }
}

body .displaytog #togglebutton {
  position: absolute;
  right: 0;
  top: -30%;
}

body a {
  color: #151515;
}

body .certviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 50vh;
  width: 50vw;
  border-radius: 0px;
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 10;
  border: solid #151515 2px;
}

@media only screen and (max-width: 800px) {
  body .certviewer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    display: flex;
    background-color: white;
    height: 80vh;
    width: 100vw;
    border-radius: 0px;
    position: fixed;
    top: 20%;
    left: 0;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
  body .certviewer {
    width: 80vw;
    position: fixed;
    top: 25%;
    left: 10%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  body .certviewer {
    width: 80vw;
    position: fixed;
    top: 25%;
    left: 10%;
  }
}

body .certviewer #cert-section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .certviewer #cert-section h4 {
  color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
  width: 100%;
  height: 10%;
  z-index: 7;
}

@media only screen and (max-width: 800px) {
  body .certviewer #cert-section h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

body .certviewer #cert-section img {
  width: auto;
  height: 100%;
  border: none;
  z-index: 8;
}

@media only screen and (max-width: 800px) {
  body .certviewer #cert-section img {
    display: none;
  }
}

body .certviewer #lan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 25%;
  height: 100%;
  border: none;
  color: #f25835;
  background: white;
}

body .certviewer #lan-list a {
  margin: 10px 10px 0 10px;
  white-space: nowrap;
  width: 80%;
  color: #f25835;
}

@media only screen and (max-width: 800px) {
  body .certviewer #lan-list a {
    width: 90%;
    margin: 10px auto;
    padding: 1em;
  }
}

@media only screen and (max-width: 800px) {
  body .certviewer #lan-list {
    display: none;
    width: 100%;
  }
}

body .certviewer aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  left: 100%;
  top: -2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 200px;
  min-width: 200px;
  border-top: solid #151515 2px;
  border-right: solid #151515 2px;
  border-bottom: solid #151515 2px;
  border-radius: 0 20px 20px 0;
  background: white;
}

body .certviewer aside a {
  white-space: nowrap;
  width: 80%;
  padding-right: 20px;
  color: skyblue;
}

@media only screen and (max-width: 800px) {
  body .certviewer aside {
    width: 100%;
  }
}

body .certviewer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1em 3em;
  position: absolute;
  bottom: 102%;
  left: 84%;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #ff876b;
  font-weight: 900;
}

@media only screen and (max-width: 800px) {
  body .certviewer button {
    position: absolute;
    bottom: 102%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

body #mobmenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 10px;
  background-color: #151515;
  z-index: 10;
}

body #mobmenu a {
  color: white;
  margin: 20px 0 20px 20px;
  border: #ff876b solid 2px;
  padding: 20px;
  width: 50%;
}

body #mobmenu #close-menu {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  right: 20px;
}

@media only screen and (max-width: 320px) {
  body #mobmenu #close-menu {
    position: absolute;
    right: 10px;
  }
}

body prompt {
  z-index: 10;
  margin: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 800px) {
  body prompt {
    width: 100%;
    height: 100%;
  }
}

body prompt h1 {
  margin: 5%;
  font-size: clamp(1.5rem, 4vw, 3em);
}

@media only screen and (min-width: 2500px) {
  body prompt h1 {
    margin: 2%;
  }
}

@media only screen and (max-width: 320px) {
  body prompt h1 {
    font-size: 1.2em;
  }
}

body prompt input {
  text-align: center;
  width: 60%;
  margin: 30px auto;
  font-size: clamp(1.2rem, 6vw, 3.5em);
}

@media only screen and (max-width: 800px) {
  body prompt input {
    padding: .5em;
  }
}

body prompt a {
  display: block;
  background-color: darkslategrey;
  height: 2em;
  width: 50%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: clamp(1.2rem, 6vw, 3.5em);
  cursor: pointer;
  text-decoration: none;
  color: #151515;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  body prompt a {
    padding: .5em;
    margin-top: 60px;
    position: fixed;
    bottom: 5%;
  }
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 35em;
  width: 60vw;
  background-color: darkslategrey;
  margin: 10% auto 5% auto;
  border-radius: 20px;
  -webkit-box-shadow: 14px 10px 70px;
          box-shadow: 14px 10px 70px;
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  body main {
    width: 80vw;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
  body main {
    width: 90vw;
  }
}

@media only screen and (max-width: 800px) {
  body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    border-radius: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0;
  }
}

body main .menu-button {
  display: none;
  margin: 30px auto;
  padding: 1em;
  background: #ff876b;
  color: #151515;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 9;
}

@media only screen and (max-width: 800px) {
  body main .menu-button {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

body main maincolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 800px) {
  body main maincolumn {
    height: 100%;
  }
}

@media only screen and (min-width: 2500px) {
  body main maincolumn .mainimg {
    width: 80%;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 2500px) {
  body main maincolumn .mainimg {
    max-height: 500px;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  body main maincolumn .mainimg {
    max-height: 350px;
    max-width: 350px;
  }
}

@media only screen and (max-width: 800px) {
  body main maincolumn .mainimg {
    max-height: 200px;
    max-width: auto;
    margin: auto;
  }
}

body main maincolumn .descriptions {
  display: block;
  background-color: darkslategrey;
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
  position: absolute;
  display: none;
  border: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

body main maincolumn .descriptions p, body main maincolumn .descriptions h3, body main maincolumn .descriptions h2, body main maincolumn .descriptions h1, body main maincolumn .descriptions table {
  width: 90%;
  margin-top: 2em;
  margin-left: 5%;
  color: #151515;
}

body main maincolumn .descriptions tr:first-of-type {
  font-weight: 800;
}

body main maincolumn .descriptions td {
  padding: 10px;
  font-size: 100%;
}

body main maincolumn .descriptions a {
  color: #f25835;
  margin: 0;
}

body main maincolumn tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 0;
  left: 90%;
  cursor: pointer;
  width: 10%;
  height: 20%;
  border-radius: 0 0 0 20px;
}

@media only screen and (max-width: 800px) {
  body main maincolumn tab {
    display: none;
  }
}

body main maincolumn .profiletab {
  background-color: #c37aff;
  right: 100%;
  top: 0em;
  z-index: 8;
}

body main maincolumn .personalitytab {
  background-color: #ff876b;
  right: 100%;
  top: 12%;
  z-index: 7;
}

body main maincolumn .educationtab {
  background-color: #9fff8f;
  right: 100%;
  top: 24%;
  z-index: 6;
}

body main maincolumn .experiencetab {
  background-color: #88e1ff;
  right: 100%;
  top: 36%;
  z-index: 5;
}

body main maincolumn .contacttab {
  background-color: #ffe789;
  right: 100%;
  top: 48%;
  z-index: 4;
}

body main maincolumn layer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0 20px 20px 0;
  position: absolute;
  color: #151515;
}

@media only screen and (max-width: 800px) {
  body main maincolumn layer {
    border-radius: 0;
    height: 100%;
    padding: 2em 0;
  }
}

body main maincolumn layer img#footballpic {
  display: block;
  background-color: transparent;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

body main maincolumn layer#experience a {
  color: #f25835;
  text-decoration: none;
}

body main maincolumn div {
  width: 90%;
  margin: auto;
  border: solid 4px #151515;
  border-radius: 20px;
}

body main maincolumn div innerdiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body main maincolumn div innerdiv a {
  cursor: default;
}

body main maincolumn div innerdiv .selected {
  background-color: #151515;
  color: #f25835;
}

body main maincolumn div innerdiv .selectable {
  border: solid var(--primary) 1px;
  border-radius: 20px;
  width: 90%;
  padding: 0 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

body main maincolumn div innerdiv .selectable:hover {
  color: white;
  background-color: #151515;
}

body main maincolumn div table {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  body main maincolumn div table tr {
    padding: 0 0 20px 0;
  }
}

@media only screen and (max-width: 800px) {
  body main maincolumn div table tr th {
    font-size: 0.8em;
    padding: 0 0 20px 0;
  }
}

body main maincolumn #profile {
  background-color: #c37aff;
  z-index: 7;
}

body main maincolumn #personality {
  background-color: #ff876b;
  z-index: 6;
}

body main maincolumn #education {
  background-color: #9fff8f;
  z-index: 5;
}

body main maincolumn #experience {
  background-color: #88e1ff;
  z-index: 4;
}

body main maincolumn #contact {
  background-color: #ffe789;
  z-index: 3;
}

body main maincolumn #contact h1:first-of-type {
  /* add a smooth animation effect for the contact header */
  z-index: 10;
}

body main maincolumn #contact .contactfadein {
  display: none;
}

body main maincolumn #contact div {
  padding: 0;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  max-width: 90%;
}

body main maincolumn #contact div box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 90%;
  border-radius: 0;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: #151515 2px solid;
  margin: 20px 5%;
}

body main maincolumn #contact div box a {
  margin: auto 0;
}

body main maincolumn #contact div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff876b;
  height: 100px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px 5%;
  border: none;
  cursor: pointer;
}

body main maincolumn #contact div form {
  position: relative;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c37aff;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  border-radius: 15px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* #pay is to be 45% when i add radio buttons */
}

body main maincolumn #contact div form #closeemail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 0;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: -4%;
  right: 8.5%;
  bottom: 104%;
  left: 91.5%;
}

body main maincolumn #contact div form #closeemail img {
  width: 100%;
  height: 100%;
}

body main maincolumn #contact div form label {
  font-size: 150%;
  margin: 0 5%;
}

body main maincolumn #contact div form input {
  width: 90%;
  font-size: 140%;
  margin: 0 5%;
}

body main maincolumn #contact div form #pay {
  width: 90%;
}

body main maincolumn #contact div form textarea {
  width: 90%;
  max-width: 90%;
  font-size: 140%;
  margin: 0 5%;
}

body main maincolumn #contact div form a {
  color: #151515;
}

body main maincolumn:first-of-type {
  width: 40%;
}

@media only screen and (max-width: 800px) {
  body main maincolumn:first-of-type {
    width: 100%;
    border-radius: 0;
    padding-bottom: 5em;
  }
}

body main maincolumn:last-of-type {
  width: 60%;
}

@media only screen and (max-width: 800px) {
  body main maincolumn:last-of-type {
    width: 100%;
    height: 50em;
    border-radius: 0;
  }
}

body cardsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: darkslateblue;
  height: auto;
  width: 80%;
  border-radius: 20px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 50px;
  color: white;
}

body cardsection a {
  color: #f25835;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  body cardsection {
    border-radius: 0;
    margin-top: 5em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body cardsection square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #151515;
  height: 10em;
  width: 20%;
  border-radius: 0px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 800px) {
  body cardsection square {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

body cardsection square h2 {
  margin: 20px 10px;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

@media only screen and (max-width: 800px) {
  body cardsection square h2 {
    width: 40%;
  }
}

body cardsection square h3 {
  margin: 20px 10px;
}

body cardsection square h4 {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

body cardsection square:first-of-type {
  border-radius: 20px 0 0 0;
}

@media only screen and (max-width: 800px) {
  body cardsection square:first-of-type {
    border-radius: 0;
  }
}

body cardsection square:last-of-type {
  border-radius: 0 20px 0 0;
}

@media only screen and (max-width: 800px) {
  body cardsection square:last-of-type {
    border-radius: 0;
  }
}

body cardsection card:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (min-width: 376px) and (max-width: 550px) {
  body cardsection card:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 321px) and (max-width: 376px) {
  body cardsection card:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 320px) {
  body cardsection card:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

body cardsection card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #151515;
  height: auto;
  width: 80%;
  border-radius: 20px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 50px 10%;
}

@media only screen and (min-width: 376px) and (max-width: 550px) {
  body cardsection card {
    width: 90%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 376px) {
  body cardsection card {
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  body cardsection card {
    width: 90%;
  }
}

body cardsection card h3 {
  margin: 30px;
}

body cardsection card p {
  margin: 30px;
}
/*# sourceMappingURL=styles.css.map */